.size{
height: 30px;
width: 30px;
text-align: right;

}
element.style{
    text-align: left;
}
.circle{
    border-radius: 0%;
}
.title{
    text-align: left;
}
.rating{
 size:10px;
}
.th{
text-align: right;
}
.badge{
text-align: right;
vertical-align: center;
font-size:30px;
margin:auto;
}
.row{
    vertical-align: right;
}