
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><i class="material-icons">movie</i>Movie</a>
      <ul class="right hide-on-med-and-down">
          <li>    
              <div class="center row">
                 <div class="col s12 " >
                   <div class="row" id="topbarsearch">
                     <div class="input-field col s6 s12 red-text">
                       
                       <input type="text" placeholder="search" id="autocomplete-input" class="autocomplete red-text" >
                       </div>
                     </div>
                   </div>
                 </div>          
             </li>
        <li><a href="#"><i class="material-icons">search</i></a></li>
        <li><a href="#"><i class="material-icons">view_module</i></a></li>
        <li><a href="#"><i class="material-icons">refresh</i></a></li>
        <li><a href="#"><i class="material-icons">more_vert</i></a></li>
      </ul>
    </div>
  </nav>
<div class="row">
    <div class="col s8">
 <ul class="collection">

    <li class="collection-item avatar" *ngFor = "let movie of movies" >
      
      <img src="assets/images/{{ movie.poster }}" alt="" class="circle" >
      <span class="title size">{{ movie.name }}<span class="badge">{{ movie.rating }}<i class="material-icons"> thumb_up</i></span></span>
      
      
    </li>
  <!--<li class="collection-item avatar">
        <img src="assets/images/Why_Cheat_India.jpg" alt="" class="circle">
      <span class="title">Why Cheat India<span class="badge">6.8<i class="material-icons">thumb_up</i></span></span>
      
      
    </li>
    <li class="collection-item avatar">
        <img src="assets/images/The_Accidental_Prime_Minister_film.jpg" alt="" class="circle">
      <span class="title">The AccidentalPrime Minister film<span class="badge">7.3<i class="material-icons">thumb_up</i></span></span>
      
      
    </li>
    <li class="collection-item avatar">
        <img src="assets/images/student-of-the-year-2.jpg" alt="" class="circle">
      <span class="title">Student of the year 2<span class="badge">5.4<i class="material-icons">thumb_up</i></span></span>
      
    </li>
  
  <li class="collection-item avatar">
      <img src="assets/images/Simmba-Movie.jpg" alt="" class="circle">
    <span class="title">Simmba Movie<span class="badge">7.6<i class="material-icons">thumb_up</i></span></span>
    
  </li>

<li class="collection-item avatar">
    <img src="assets/images/photograph.jpg" alt="" class="circle">
  <span class="title">Photograph<span class="badge">8.6<i class="material-icons">thumb_up</i></span></span>
  
</li>

<li class="collection-item avatar">
    <img src="assets/images/notebook.jpg" alt="" class="circle">
  <span class="title">Notebook<span class="badge">6.5<i class="material-icons">thumb_up</i></span></span>
  
</li>

<li class="collection-item avatar">
    <img src="assets/images/luka-chuppi.jpg" alt="" class="circle">
  <span class="title">Luka Chuppi<span class="badge">5.6<i class="material-icons">thumb_up</i></span> </span>
  
</li>

<li class="collection-item avatar">
    <img src="assets/images/Hum-Chaar.jpg" alt="" class="circle">
  <span class="title">Hum Chaar<span class="badge">8.6<i class="material-icons">thumb_up</i></span></span>
    
</li>

<li class="collection-item avatar">
    <img src="assets/images/Fraud_Saiyyan.jpg" alt="" class="circle">
  <span class="title">Fraud Saiyyan<span class="badge">7.3<i class="material-icons">thumb_up</i></span></span>
   
</li>

<li class="collection-item avatar">
    <img src="assets/images/Fanney Khan.jpg" alt="" class="circle">
  <span class="title">Fanney Khan<span class="badge">7.2<i class="material-icons">thumb_up</i></span></span>
     
</li>

<li class="collection-item avatar">
    <img src="assets/images/chalawa.jpg" alt="" class="circle">
  <span class="title">Chhalawa<span class="badge">6.8<i class="material-icons">thumb_up</i></span> </span>
    
</li>

<li class="collection-item avatar">
    <img src="assets/images/black-mail.jpg" alt="" class="circle">
  <span class="title">Blackmail<span class="badge">5.9<i class="material-icons">thumb_up</i></span> </span>
    
</li>

<li class="collection-item avatar">
    <img src="assets/images/batlahouse.jpg" alt="" class="circle">
  <span class="title">Batla house<span class="badge">9.6<i class="material-icons">thumb_up</i></span></span>
  
</li>-->

  </ul>
    </div>
  <div class="col s4">
  <div class="row ">
      <div class="col s12 m7 ">
        <div class="card row">
          <div class="card-image">
            <img src="assets/images/URI.jpg">
            <span class="card-title">Today's tranding movie</span>
          </div>
          <div class="card-content">
            <p>URI</p>
          </div>
          <div class="card-action">
            <a href="#">View More</a>
          </div>
        </div>
      </div>
    </div>
  </div>


  </div>